* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  height: 100%;
}

/* transection page */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
  margin-bottom: 10px;
}
/* transection page */

/* antd icons */

.switch-icons {
  border: 1px solid rgba(0, 0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 15px;
}

.anticon svg {
  font-size: 22px;
  cursor: pointer;
  color: black;
}

.nav-link .anticon svg {
  color: white;
}

.active-icon {
  color: black;
}
.inactive-icon {
  color: gray;
}

.filter-tab .ant-select-selector {
  width: 150px !important;
}

.print-css {
  margin-left: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* CSS for the Thank You Page */
.Thankyou {
  text-align: center;
  padding: 20px;
  background-color: black; /* Green background color */
  color: #fff; /* White text color */
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to 100% of the viewport height for vertical centering */
}

.Thankyou h1 {
  font-size: 46px;
  color: white;
}

.btn-primary:hover{
  background-color: rgb(128, 0, 0);
}

.btn-success:hover{
  background-color: rgb(48, 0, 131);
}

.btn-danger:hover{
  background-color: rgb(0, 0, 0);
  font-size: larger;
}